.content {
  background-image: url("../../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.title_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1280px;
  margin: 0 auto;
}

.title {
  display: inline-block;
  line-height: 152px;
}

.fibonacci_title {
  display: inline-block;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-left: -6px;
}

.languages_switch {
  position: absolute;
  top: calc(50% - 280px);
  left: calc(50% - 620px);
}

.cards_box {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1240px;
  margin: 34px 0 64px;
  align-self: center;
}

.card {
  width: 400px;
  height: 220px;
  cursor: pointer;
  transition: var(--common-transition);
  border-radius: 20px;
}

.string_RUS {
  background-image: url("../../images/string_rus.svg");
}

.string_DE {
  background-image: url("../../images/string_de.svg");
}

.string_RUS:hover {
  background-image: url("../../images/string-hover_rus.svg");
}

.string_DE:hover {
  background-image: url("../../images/string-hover_de.svg");
}

.fibonacci_RUS {
  background-image: url("../../images/fibonacci_rus.svg");
}

.fibonacci_DE {
  background-image: url("../../images/fibonacci_de.svg");
}

.fibonacci_RUS:hover {
  background-image: url("../../images/fibonacci-hover_rus.svg");
}

.fibonacci_DE:hover {
  background-image: url("../../images/fibonacci-hover_de.svg");
}

.arr_RUS {
  background-image: url("../../images/arr_rus.svg");
}

.arr_DE {
  background-image: url("../../images/arr_de.svg");
}

.arr_RUS:hover {
  background-image: url("../../images/arr-hover_rus.svg");
}

.arr_DE:hover {
  background-image: url("../../images/arr-hover_de.svg");
}

.stack_RUS {
  background-image: url("../../images/stack_rus.svg");
}

.stack_DE {
  background-image: url("../../images/stack_de.svg");
}

.stack_RUS:hover {
  background-image: url("../../images/stack-hover_rus.svg");
}

.stack_DE:hover {
  background-image: url("../../images/stack-hover_de.svg");
}

.queue_RUS {
  background-image: url("../../images/queue_rus.svg");
}

.queue_DE {
  background-image: url("../../images/queue_de.svg");
}

.queue_RUS:hover {
  background-image: url("../../images/queue-hover_rus.svg");
}

.queue_DE:hover {
  background-image: url("../../images/queue-hover_de.svg");
}

.list_RUS {
  background-image: url("../../images/list_rus.svg");
}

.list_DE {
  background-image: url("../../images/list_de.svg");
}

.list_RUS:hover {
  background-image: url("../../images/list-hover_rus.svg");
}

.list_DE:hover {
  background-image: url("../../images/list-hover_de.svg");
}

.ticker {
  background-color: var(--text-color-h1);
  height: 60px;
  overflow: hidden;
}

.dot_box {
  margin: 0 auto;
  padding: 0 78px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--text-color-secondary);
}

.copyright {
  margin: 28px auto 0;
  text-align: right;
  padding-bottom: 18px;
  max-width: 1240px;
  min-width: 1240px;
}
